.intro {
  height: 100vh;
}

.intro .button-intro {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.intro .button-intro:hover {
  cursor: pointer;
}

.intro .intro-text {
  font-weight: bold;
  position: absolute;
  top: 30%;
  left: 20%;
  color: white;
  line-height: 1.3;
}

.intro .intro-text h1 {
  font-size: 3rem;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.intro .intro-text h3 {
  font-size: 1.9rem;
}

.intro .intro-text div {
  width: 14%;
  height: 55px;
  border-radius: 2px;
  background: #FF854D;
  border: solid 1px #FF854D;
  letter-spacing: 1px;
  box-sizing: border-box;
  font-size: 2rem;
  line-height: 1.6;
  text-align: center;
  vertical-align: center;
  box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.12);
}

.intro .intro-text div:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.why-work {
  width: 60% !important;
  margin: auto;
  color: #4f4f4f;
}

.why-work h1 {
  padding-top: 5vh;
  line-height: 1.3;
  font-size: 3rem;
}

.why-work h3 {
  padding-bottom: 3vh;
  line-height: 1.7;
  font-size: 1.4rem;
  font-weight: inherit;
}

hr {
  border: 1px solid #eee;
}

.what-need {
  float: left;
  padding-top: 5vh;
  background: #364347;
}

.what-need h1 {
  line-height: 1.3;
  font-size: 3rem;
  color: white;
}

.what-need .what-need-text {
  width: 55%;
  margin: auto;
}

.what-need .what-need-text h2 {
  font-weight: inherit;
  color: #f16365;
  font-size: 1.7rem;
}

.what-need .what-need-text p, .what-need .what-need-text ul {
  font-weight: inherit;
  color: white;
}

.what-need .what-need-text ul li {
  list-style: disc !important;
  display: list-item;
}

.what-need .what-need-text ul {
  list-style: circle;
}
