//output : index.php
doctype
html
  head
    title Appy Page
    link(rel='stylesheet' href= ' ./css/normalize.css')
    link(rel='stylesheet' href= ' ./css/hack.css' )
    link(rel='stylesheet' href= ' ./css/apply.css' )
    link(rel='stylesheet' href= ' ./css/animate.css' )
  body(froninit='hack')
    div.full-width.intro
      img(class='responsive' src='images/background.jpg')
      a.button-intro.animated.infinite.bounce
        img(src='./images/mouse.png')
      div.container.intro-text
        h1 Have the freedom <br>of choice.
        h3 Opportunity awaits
        div.apply-button Apply
    div.why-work.text-center
      h1  Why work with us?
      h3  We give you access to jobs, where and when you want to work.<br>Why not?
      ul.li-around
        li
          img(src='images/trusted.svg')
          p Trusted
        li
          img(src='images/weekly.svg')
          p Weekly Payment
        li
          img(src='images/helpdesk.svg')
          p Help Desk
        li
          img(src='images/accesswork.svg')
          p Access Work
        li
          img(src='images/flex.svg')
          p Flexibility
    hr
    div.full-width.what-need
      h1.text-center What You Need To Join Us?
      div.what-need-text
        div.col.s5.left(style='padding-top:2vh;')
          h2  Be a Professional with UrbanYou
        div.col.s6.right
          p UrbanYou works with only the best cleaners and gardeners. To join our network of trusted and reliable service providers, and start growing your business with regular quality leads, you’ll need:
          ul
            li Minimum 2-years’ experience
            li Public liability insurance (we can help you sort this out)
            li Pass our rigorous background checks, including Police Check.
            li Passion for going the extra mile to maintain our 100% satisfaction guarantee.
    div.full-width.how-it-work
      h1.text-center How It works?
      div.list-work.text-center
        div.col.s4#first-work
          img(src='images/work_1.png')
          p Select the date and time you’d like your cleaner to show up.
        div.col.s4#second-work
          img(src='images/work_2.png')
          p Your appointment will confirmed & take care of payment electronically and securely.
        div.col.s4
          img(src='images/work_3.png')
          p Fully professional & friendly cleaner will arrive at your home ready to get the job done right.
        button LEARN MORE
    div.full-width.features
      div.title-features
        div.title-text
          h1 FEATURES
        h3  gg
      div.col.s4.features-contain
      div.col.s4.features-contain
      div.col.s4.features-contain
      div.col.s4.features-contain
          
      

          
      
      
      
